<div style="width: 400px;" class="row">
  <form action="/auth/login" method="POST">
    <label for="auth-userName">Username</label>
    <input id="auth-userName" type="text" name="userName" />

    <label for="auth-password">Password</label>
    <input id="auth-password" type="password" name="password" />

    <input type="submit" value="Log In" />
  </form>
</div>
