<form action="/auth/signup" method="POST">
    <label for="new-email">Email</label>
    <input id="new-email" type="email" name="email" required>
  
    <label for="new-userName">UserName</label>
    <input id="new-userName" type="text" name="userName" required>
  
    <label for="new-password">Password</label>
    <input id="new-password" type="password" name="password" required>

    <label for="fullName">First and Last Name</label>
    <input id="fullName" type="text" name="fullName" required>

    <label for="streetAddress">Street Address</label>
    <input id="streetAddress" type="text" name="streetAddress" required>

    <label for="streetAddress2">Apartment Number</label>
    <input id="streetAddress2" type="text" name="streetAddress2">

    <label for="city">City</label>
    <input id="city" type="text" name="city" required>

    <label for="state">State</label>
    <input id="state" type="text" name="state" required>

    <label for="country">Country</label>
    <input id="country" type="text" name="country" required>

    <label for="zipCode">Zip Code</label>
    <input id="zipCode" type="text" name="zipCode" required>

    <label for="phoneNumber">Phone Number</label>
    <input id="phoneNumber" type="text" name="phoneNumber">
  
    <input type="submit" value="Sign up">
  </form>