<nav>
    <div class="nav-wrapper blue darken-3">
      <a href="/" class="brand-logo"><i class="material-icons">router</i>CBAY</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons rainbow">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <% if (!currentUser) { %>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
          <% } else { %>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
          <% } %>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <% if (!currentUser) { %>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
      <% } else { %>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/profile">Profile</a></li>
      <% } %>
  </ul>