<h1><%= product.productName %></h1>
<h3>From user: <%= user.userName %></h3>
<h2><%= product.productDesc %> </h2>
<form action="/itempage/<%= product.id %>?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT">
<button type="submit">Add to Claims?</button>
</form>

