<div class="row" style="margin-top: 25px;">
    <div class="s4 col"></div>
  <div class="col s4">

    <img
      class="pic center-align"
      src="/Images/JamesWoods404.gif"
      alt="James Woods"
    />
    <p class="center-align">
    <a href="/">Head Home</a>
</p>
  </div>
  <div class="s4 col"></div>
</div>
