<h1>Search Results</h1>

<% product.forEach(p => {%>
  <% if(p.available) { %> 
<div class="product">
  <a href="/itempage/<%= p.id %>"><%= p.productName %></a>
  <p><%= p.user.userName %></p>
  <h3><%= p.productType %></h3>
</div>
<% } else { %>
  
  <% } %>  
  <% }) %>