<h1>Shipping Confirmation</h1>
<form action="/shipment/<%= product.id %>/success" method="POST">
    <button class="waves-effect waves-light btn" type="submit"><i class="material-icons right">send</i>Ship This?</button>
</form>
